@model IList<Category>
@{
    ViewData["Title"] = "Home Page";
}

   <h2 >Forum Categories</h2>
   <article class="d-lg-flex">
    <div class="container">
    <div class="row">
    <div class="col-md-10">
    @if (Model.Count == 0)
    {
        <div>There are no categories</div>
    }
    else
    {
    <table class="table table-dark table-hover">
        <thead>
            <th>Name</th>
            <th>Creator</th>
            <th>Date</th>
        </thead>
        @foreach(var category in Model)
        {
            <tr onclick="location.href = '@Url.Action("Topic","Home", new {id = @category.Id})'"> <!--Which I HOPE will soon be added-->
                <td>@category.Name</td>
                <td>@category.User.Name</td>
                <td>@category.CreationDate.ToShortDateString()</td>
            </tr>
        }

        <!-- Job for you, make it look good and fancy mkay? -->
    </table>
    }
    </div>

    <div class="col-md border" id="StatisticsZone" style="background-color:#20374c">

    </div>

    </div>
    </div>
    @if(User.Identity.Name != null)
    {
        <aside class="col-md-4 ">
            <a asp-controller="Home" asp-action="AddCategory"><button class="btn btn-primary">Add a Category</button></a>
        </aside>
    }
    </article>

    @section Scripts{
        <script>
            $('#StatisticsZone').load("/Statistics/BlogStatistics")
        </script>
    }
    