@model IList<Category>
@{
    ViewData["Title"] = "Home Page";
}

   <h2 >Forum Categories</h2>
   <article class="d-lg-flex">
    <section class="col-md-8">
    @if (Model.Count == 0)
    {
        <div>There are no categories</div>
    }
    else
    {
    <table class="table table-dark table-hover">
        <thead>
            <th>Name</th>
            <th>Creator</th>
            <th>Date</th>
        </thead>
        @foreach(var category in Model)
        {
            <tr onclick="location.href = '@Url.Action("Topic","Home", new {id = @category.Id})'"> <!--Which I HOPE will soon be added-->
                <td>@category.Name</td>
                <td>@category.User.Name</td>
                <td>@category.CreationDate.ToShortDateString()</td>
            </tr>
        }

        <!-- Job for you, make it look good and fancy mkay? -->
    </table>
    }
    </section>
    @if(User.Identity.Name != null)
    {
        <aside class="col-md-4 ">
                <a asp-controller="Home" asp-action="AddCategory"><button class="btn btn-primary">Add a Category</button></a>
                <a asp-controller="Home" asp-action="EditCategory"><button class="btn btn-primary">Add a Category</button></a>
                <a asp-controller="Home" asp-action="DeleteCategory"><button class="btn btn-primary">Add a Category</button></a>
        </aside>
    }
    </article>
