@model IList<Category>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 >Forum Categories</h2>
    <table class="table table-dark table-hover">
        <thead>
            <th>Name</th>
            <th>Creator</th>
            <th>Date</th>
        </thead>
        @foreach(var category in Model)
        {
            <tr onclick="location.href = '@Url.Action("Topic","Home", new {id = @category.Id})'"> <!--Which I HOPE will soon be added-->
                <td>@category.Name</td>
                <td>@category.User.Name</td>
                <td>@category.CreationDate.ToShortDateString()</td>
            </tr>
        }
        <!-- Job for you, make it look good and fancy mkay? -->
    </table>
</div>