@model IList<Topic>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table table-dark table-hover">
        <thead>
            <th>Name</th>
            <th>Creator</th>
            <th>Date</th>
        </thead>
        @foreach(var topic in Model)
        {
            <tr onclick="location.href = '@Url.Action("Index","Topic", new {id = @topic.Id})'"> 
                <td>@topic.Title</td>
                <td>@topic.User.Name</td>
                <td>@topic.CreationDate.ToShortDateString()</td>
            </tr>
        }
        @if(User.Identity.Name != null)
        {
            <aside class="col-md-4 ">
                <button class="btn btn-primary" onclick="location.href = '@Url.Action("AddTopic","Home", new {id = @Context.Request.RouteValues["id"]})'">Create new topic</button>
            </aside>
        }
        <!-- Job for you, make it look good and fancy mkay? -->
    </table>
</div>