@model ComputerForum.ViewModels.UserRegisterVM;
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form asp-action="Register" id="register-form">
    <div class="form-group">
        <label for="emailInput">Enter Email</label>
        <input asp-for="Email" type="email" id="emailInput" class="form-control" placeholder="Email"/>
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="form-group">
        <label for="usernameInput" >Enter Username</label>
        <input asp-for="Name" type="text" id="usernameInput" class="form-control" placeholder="Username"/>
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="form-group">
        <label>Enter Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password"/>

        <label for="confirmPasswordInput">Confirm Password</label>
        <input type="password" id="confirmPasswordInput" class="form-control" placeholder="Confirm Password"/>
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" id="ageInput" type="number" />
        @Html.ValidationMessageFor(model => model.Age)
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <select asp-for="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        @Html.ValidationMessageFor(model => model.Gender)
    </div>
    <button type="submit" class="btn btn-primary">Register1</button>
</form>
<small>Already have an account? - <a asp-area="" asp-controller="Home" asp-action="LogIn">Log in</a> instead</small>
