@using System.Security.Claims
@model ComputerForum.Models.Topic

@{
    ViewData["Title"] = "Topic";
}

<style>
    .row {
    display: flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

</style>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <button onclick="location.href = '@Url.Action("EditTopic","Topic", new {topicId = @Model.Id})'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg></button>
            <button onclick="ConfirmDelete()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/></svg></button>
            <button onclick="location.href = '@Url.Action("CloseTopic","Topic", new {topicId = @Model.Id})'">C</button>
        </div>
    </div>
        @if(!@Model.Active)
        {
            <p class="text-danger"><b>Topic closed</b></p>
        }
        <div class="row border" style="background-color:#20374c">
            <div class="col-md-2">
                <div class="row border">
                    @Model.User.Name <br/> @Model.User.Reputation
                </div>
                <div class="row border">
                    Date: @Model.CreationDate.ToShortDateString()
                </div>
                <div class="row border">
                    Strzalki góra/dół
                </div>
            </div>
            <div class="col-md-10">
                <div class="row border">
                    @Model.Title
                </div>
                <div class="row border">
                    @Model.Description
                </div>
            @if (Model.Active)
            {
                <div class="row flex-fill d-flex">
                    <div class="col">
                    <button class="btn btn-primary btn-sm" onclick="Reply()">Reply</button>
                    </div>
                </div>
            }
            </div>
        </div>
</div>


<hr/>
<div class="container">
    @foreach(var comment in Model.Comments)
    {
        <div class="row border m-2" style="background-color:#20374c">
            <div class="col-md-2">
                <div class="row border">
                    @comment.User.Name <br/> @comment.User.Reputation
                </div>
                <div class="row border">
                    Date: @comment.CreationDate.ToShortDateString()
                </div>
                <div class="row border">
                    Strzalki góra/dół
                </div>
            </div>
            <div class="col-md-10">
                @if (@comment.QuotedStatement != null)
                {
                    <div class="row border">
                        In response to: "@comment.QuotedStatement"
                    </div>
                }
                else
                {
                    <div class="row border">
                        In response to topic
                    </div>
                }
                <div class="row border">
                    @comment.Content
                </div>
                @if(@Model.Active)
                {
                    <div class="row">
                        <div class="column"><button class="btn btn-primary btn-sm" onclick="Reply(@comment.Id)">Reply</button></div>
                    </div>
                }

            </div>
        </div>
    }
    <div class="row" id="AddCommentZone">

    </div>
</div>

@section Scripts{
    <script>
        function Reply(commentId) {
            if ($('#AddCommentZone').children().length == 0) {
                $('#AddCommentZone').load("/Topic/CreateComment/@Model.Id?quotedId=" + commentId);
            }
            else {
                $('#AddCommentZone').html("")
                console.log("CommentZone cleared")
            }
        }

        function ConfirmDelete() {
            if (confirm('Are you sure?')) {
            window.location.href = '@Url.Action("DeleteTopic", new {topicId = @Model.Id})'
            }
        }
    </script>
}

