@using System.Security.Claims
@model ComputerForum.Models.Topic

@{
    ViewData["Title"] = "Topic";
}

<div>
    <table class="table table-dark">
        <tr>
            <td>@Model.Title</td><td>@Model.User.Name</td>
        </tr>
        <tr>
            <td class="CommentContent">@Model.Description</td><td>@Model.CreationDate.ToShortDateString()</td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" onclick="Reply()">Reply</button></td>
        </tr>
    </table>
</div>
<hr/>
<div class="container">
    @foreach(var comment in Model.Comments)
    {
        <div class="row border m-2" style="background-color:#20374c">
            <div class="col-md-2">
                <div class="row border">
                    @comment.User.Name
                </div>
                <div class="row border">
                    Date: @comment.CreationDate.ToShortDateString()
                </div>
                <div class="row border">
                    Strzalki góra/dół
                </div>
            </div>
            <div class="col-md-10">
                @if (@comment.QuotedStatement != null)
                {
                    <div class="row border">
                        In response to: "@comment.QuotedStatement"
                    </div>
                }
                else
                {
                    <div class="row border">
                        In response to topic
                    </div>
                }
                <div class="row border">
                    @comment.Content
                </div>
                <div class="row">
                    <div class="column"><button class="btn btn-primary btn-sm" onclick="Reply(@comment.Id)">Reply</button></div>
                </div>

            </div>
        </div>
    }
    <div class="row" id="AddCommentZone">

    </div>
</div>

@section Scripts{
    <script>
        function Reply(commentId) {
            if ($('#AddCommentZone').children().length == 0) {
                $('#AddCommentZone').load("/Topic/CreateComment/@Model.Id?quotedId="+commentId);
            }
        }
    </script>
}

